* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

header {
  color: white;
}

.ball {
  display: flex;
  width: 100px;
  height: 100px;

  border-radius: 50%;
  margin-inline-start: 50vw;

  justify-content: center;
  align-items: center;
  background-color: blue;
  cursor: pointer;
  place-items: center;
  color: whitesmoke;
  font-size: 22px;
  font-weight: bold;
}
