* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

header {
  color: white;
}

.ball {
  display: flex;
  width: 100px;
  height: 100px;

  place-items: center;
  border-radius: 50%;
  border: 2px solid white;
  margin-inline-start: 50vw;
  margin-block-start: 2vh;

  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
}

.ball1 {
  background-color: blue;
  color: whitesmoke;
}

.ball2 {
  background-color: yellow;
  color: red;
}

.ball3 {
  background-color: pink;
  color: green;
}

.ball4 {
  background-color: red;
  color: purple;
}

.ball5 {
  background-color: orange;
  color: black;
}

.ball6 {
  background-color: grey;
  color: white;
}
